@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor01: #1E2022;
    --cor02: #2C2E32;
    --cor03: #414249;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: var(--cor01);
}

header {
    margin: 10px;
    padding: 10px;
    background-color: var(--cor02);
    border: 1px solid var(--cor02);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

main {
    margin: 10px;
    padding: 10px;
    background-color: var(--cor02);
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

h3 {
    background-color: var(--cor03);
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
}

p, br {
    padding: 15px;
    
}

ul, ol {
    margin: 5px;
    padding: 15px;
}

table {
    border-collapse: collapse;
    margin:20px auto;
}

th, td, tr {
    border: 1px inset white;
    padding: 5px;
}

aside{
    padding: 5px;
    margin: 5px;
}

div.excaixa {
    display: block;
    height: 170px;
    width: 170px;
    margin: 20px auto; 
    outline: 20px solid rgba(128, 128, 128, 0.418);
    border: 20px solid white;
    padding: 20px dashed green;

}

.brex1 {
    background-color: var(--cor03);
    border-radius: 10px;
    width: 200px;
    margin: auto;
    text-align: center;
}

.brex2 {
    background-color: var(--cor03);
    border-radius: 10px 20px 30px 40px;
    width: 200px;
    margin: auto;
    text-align: center;
}
.brex3 {
    background-color: var(--cor03);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    text-align: center;
    padding-top: 65px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.667);
}

.tex {
    height: 300px;
    width: 300px;
    text-align: center;
    vertical-align: middle;
}

col.c1 {
    background-color: #E3C386;;
}

col.c2 {
    background-color: #DEA12F;
}

col.c3 {
    background-color: #AC7C24;
}
iframe{
    width: 500px;
    height: 500px;
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 10px #0000006C;
    margin: auto;
    }